# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# pids
pids
*.pid
*.seed
*.pid.lock

# lib coverage
lib-cov
coverage
*.lcov
.nyc_output

# builds
dist/
build/
out/

# dependencies
node_modules/
jspm_packages/

# typescript
*.tsbuildinfo

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
.eslintcache

# prisma
prisma/dev.db
prisma/dev.db-journal
